@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar personalizada del sidebar */
.sidebar-scroll::-webkit-scrollbar {
    width: 6px;
}

.sidebar-scroll::-webkit-scrollbar-track {
    background: #111827; /* bg-gray-900 */
}

.sidebar-scroll::-webkit-scrollbar-thumb {
    background-color: #c6d3ed; /* blue-600 */
    border-radius: 9999px;
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #c6d3ed; /* blue-700 */
}

/* Firefox */
.sidebar-scroll {
    scrollbar-width: thin;
    scrollbar-color: #c6d3ed #111827;
}
